h1 {
  text-decoration: underline;
}

body {
    background-image: url("/images/grey_wash_wall.png");
    background-color: #cccccc;
}

/* Simple text widget styles */
/* TODO move to dashboard codebase */



.simple-text-widget .title{
    position: absolute;
    top: 10%;
    left: 5%;
}

.simple-text-widget .data {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
