h1 {
  text-decoration: underline;
}

body {
    background-image: url("/images/grey_wash_wall.png");
    background-color: #cccccc;
}

/* Simple text widget styles */
/* TODO move to dashboard codebase */



.simple-text-widget .title{
    position: absolute;
    top: 10%;
    left: 5%;
}

.simple-text-widget .data {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.github-repo-stats {
    height: 100%;
}

.widget {
    background-color: #fff;
    font-family: Times New Roman, Times, serif;
    font-size: 20px;
}

.github-repo-stats .header{
    height: 20%;
}

.github-repo-stats .title{
    position: absolute;
    top: 2%;
    left: 5%;
}

.github-repo-stats .commit-chart{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.github-repo-stats .contributors{
    position: absolute;
    left: 57%;
    top: 25%;
    text-align: left;
    font-size: 15px;
    line-height: 1.3;
    
}

.github-repo-stats .contributors td {
    font-weight: normal;
}

.github-repo-stats .github-logo {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 8%;
}

.github-repo-stats .subheading {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.github-repo-stats #total-commits {
    position: absolute;
    left: 17%;
    top: 23%;
}

.github-repo-stats .total-commits{
    position: relative;
    top: 90%;
    font-size: 50px;
    text-align: center;
    border-radius: 100%;
    padding: 12px;
    margin: 0;
    
}

.github-repo-stats .contributors-wrapper .contributors-header{
    margin-bottom: 10px;
}

.chart .title {
    padding-left: 5%;
    margin: 15px 0;
}